name: Workflow z dwoma jobami

on:
  push:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Pierwszy job
        run: echo "Job 1: Wykonałem się jako pierwszy!"

  job2:
    runs-on: ubuntu-latest
    needs: job1     
    steps:
      - name: Drugi job
        run: echo "Job 2: Wykonałem się dopiero po job1!"
